@import "../Base/global";

.header {
    .main-logo {
        display: block;
        width: auto;
        max-width: 100%;
        height: 15rem;
        max-height: 768px;
        margin: 0 auto;
    }

    &--landing{
        background-color: $color-bg;
    }
}
