// To get all mixins in other *.scss file use: @import "/Base/global";

$color-white: #fff;
$color-black: #000;
$color-primary: #a815d7;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #01ffa9;
$color-secondary-hover: darken($color-secondary, 10%);
$color-error: #d91313;
$color-font: $color-black;
$color-outline: lighten($color-primary, 20%);
$color-placeholder: #999;
$color-bg: #170f24;
$color-transparent: rgba(0, 0, 0, 0);

$font-text: 'Open Sans', sans-serif;
$font-title: $font-text;
$font-awesome: 'FontAwesome';
$font-logo: 'Anja';

// Helpfull variables
$outline-width: .1rem;
$radius: .2rem;
$transition-time: .3s;
$animate-all: all $transition-time;

// All devices width for responsivity
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 980px;
$width-desktop-large: 1200px;

//font-sizes
$font-size-xxl: 3rem;
$font-size-xl: 2.2rem;
$font-size-l: 2rem;
$font-size-m: 1.8rem;
$font-size-s: 1.6rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1rem;

@font-face {
    font-family: 'fontawesome';
    src: url('/Resources/fonts/fontAwesome/fontawesome-webfont.ttf') format('truetype'), url('/Resources/fonts/fontAwesome/fontawesome-webfont.woff') format('woff'), url('/Resources/fonts/fontAwesome/fontawesome-webfont.woff2') format('woff2');
}
