@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/../../fonts/slick/slick.eot");
  src: url("./fonts/../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/../../fonts/slick/slick.woff") format("woff"), url("./fonts/../../fonts/slick/slick.ttf") format("truetype"), url("./fonts/../../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 2rem; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 2rem; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box !important; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: "Roboto-l";
  color: #000;
  margin: 0;
  overflow-x: hidden !important;
  box-sizing: border-box;
  position: relative; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

.element-to-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-strong {
  font-weight: bold; }

.text-to-center {
  text-align: center !important; }

.text-to-left {
  text-align: left !important; }

.text-to-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.nav-item-center {
  white-space: nowrap; }
  @media only screen and (min-width: 769px) {
    .nav-item-center {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.nav-item-right {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%); }
  @media only screen and (max-width: 768px) {
    .nav-item-right {
      position: relative;
      top: unset;
      right: unset;
      transform: translate(0, 0);
      margin-bottom: 2rem; } }

.nav-item-left {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%); }
  @media only screen and (max-width: 768px) {
    .nav-item-left {
      position: relative;
      top: unset;
      right: unset;
      transform: translate(0, 0);
      margin-bottom: 2rem; } }

.clean-button {
  padding: 0;
  margin: 0;
  height: auto;
  display: inline-block !important;
  float: none !important; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.burger-button {
  position: relative;
  width: 5rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 768px) {
    .burger-button {
      display: block; } }
  .burger-button > div {
    background-color: #000;
    position: absolute;
    display: block;
    height: .3rem;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: .25s ease-in-out; }
  .burger-button:before, .burger-button:after {
    display: block;
    position: absolute;
    height: .3rem;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background-color: #000;
    content: ""; }
  .burger-button:before {
    top: .3rem;
    transform: translate(-50%, 150%) rotate(0); }
  .burger-button:after {
    bottom: .3rem;
    transform: translate(-50%, -150%) rotate(0); }
  .burger-button--open:before {
    width: 50%;
    transform: translate(-20%, 325%) rotate(25deg); }
  .burger-button--open:after {
    width: 50%;
    transform: translate(-20%, -325%) rotate(-25deg); }

.burger-container {
  width: 5rem;
  height: 4rem;
  transition: all 0.3s;
  cursor: pointer;
  float: right;
  display: none;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .burger-container {
      display: block; } }
  .burger-container .nav-burger {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.5rem;
    height: 2.5rem;
    transform: rotate(0deg) translate(-50%, -50%);
    transition: .5s ease-in-out;
    cursor: pointer;
    transition: all 0.3s; }
    .burger-container .nav-burger > span {
      display: block;
      position: absolute;
      height: .3rem;
      width: 100%;
      background: #170f24;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
      .burger-container .nav-burger > span:nth-child(1) {
        top: 0; }
      .burger-container .nav-burger > span:nth-child(2) {
        top: 50%;
        transform: rotate(0deg) translateY(-50%); }
      .burger-container .nav-burger > span:nth-child(3) {
        top: 100%;
        transform: rotate(0deg) translateY(-100%); }
    .burger-container .nav-burger.open {
      transition: all 0.3s; }
      .burger-container .nav-burger.open > span:nth-child(1) {
        top: 50%;
        transform: rotate(135deg) translateY(0); }
      .burger-container .nav-burger.open > span:nth-child(2) {
        opacity: 0;
        left: 100%; }
      .burger-container .nav-burger.open > span:nth-child(3) {
        top: 50%;
        transform: rotate(-135deg) translateY(0); }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.anim-box {
  position: relative;
  display: block;
  width: 100%;
  max-width: 45rem;
  min-height: 32rem;
  max-height: 36rem;
  padding: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 auto;
  color: #fff;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media only screen and (max-width: 768px) {
    .anim-box {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 2rem; }
      .anim-box:last-child {
        margin-bottom: 0; } }
  .anim-box--print {
    background-image: url("/Resources/Images/Backgrounds/print_bg.jpg"); }
  .anim-box--expo {
    background-image: url("/Resources/Images/Backgrounds/exposition_bg.jpg"); }
  .anim-box--stick {
    background-image: url("/Resources/Images/Backgrounds/stick_bg.jpg"); }
  .anim-box:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: all 0.3s; }
    .anim-box:hover .anim-box__inner-box {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1);
      transition: all 0.3s; }
    .anim-box:hover:after {
      opacity: 1;
      transition: all 0.3s; }
  .anim-box:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
    background: linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
    z-index: 2;
    opacity: 0;
    content: "";
    transition: all 0.3s; }
  .anim-box__inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 87%;
    height: 85%;
    border: 0.1rem solid #a815d7;
    border-color: #fff;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    z-index: 3; }
    .anim-box__inner-box > div {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%; }
    .anim-box__inner-box h3 {
      padding: 0 2rem;
      margin: 0;
      margin-bottom: .5rem;
      box-sizing: border-box;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      font-size: 4.5rem;
      color: #fff; }
    .anim-box__inner-box p {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      padding: 0 2rem;
      box-sizing: border-box;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      font-size: 1.8rem;
      color: #fff; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.button {
  display: block;
  width: 22rem;
  margin: 0 auto;
  height: 6rem;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  font-family: "Prometo-r";
  font-weight: 500;
  background-color: #000;
  border: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0); }
  .button:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 7px 0px #a815d7;
    -moz-box-shadow: 0px 0px 7px 0px #a815d7;
    box-shadow: 0px 0px 7px 0px #a815d7;
    transition: all 0.3s; }
  .button:hover {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 7px 0px #01ffa9;
    -moz-box-shadow: 0px 0px 7px 0px #01ffa9;
    box-shadow: 0px 0px 7px 0px #01ffa9; }
    .button:hover span, .button:hover span:after {
      color: #01ffa9;
      transition: all 0.3s; }
  .button--submit {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .button__text {
    position: relative;
    border-color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.3s; }
    .button__text:after {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(50%, -50%);
      color: #fff;
      font-family: "FontAwesome";
      font-size: 2rem;
      content: "\f1d8";
      transition: all 0.3s; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (max-width: 768px) {
    .flex-container {
      align-items: flex-start;
      flex-direction: row-reverse; } }
  .flex-container--center {
    height: 100%;
    align-items: center; }
  .flex-container__box {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .flex-container__box {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 30rem; } }
    .flex-container__box--with-padding {
      padding: 5rem 2rem;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .flex-container__box--with-padding {
          padding: 3rem 2rem;
          height: auto; } }
    .flex-container__box .i4ewOd-pzNkMb-haAclf {
      display: none !important; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.container {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 12rem 0;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 7rem 2rem; } }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .form {
      width: 40rem; } }
  @media only screen and (max-width: 480px) {
    .form {
      width: 100%; } }
  .form__wrapper {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid #000;
    transition: all 0.3s; }
    .form__wrapper:last-child {
      margin-bottom: 0; }
    .form__wrapper:before {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 0;
      height: .2rem;
      transform: translateY(-50%);
      content: "";
      background-color: #a815d7;
      transition: all 0.3s; }
    .form__wrapper:focus-within {
      border-bottom: 0.1rem solid #a815d7;
      transition: all 0.3s; }
      .form__wrapper:focus-within:before {
        width: 100%;
        transition: all 0.3s; }
  .form__label {
    position: absolute;
    top: 1.2rem;
    left: 0;
    display: block;
    width: 10rem;
    transform: translate(1rem, 0) scale(1, 1);
    font-size: 1.6rem;
    color: #999;
    transition: all 0.3s;
    z-index: -1; }
  .form__input {
    width: 100%;
    padding: .5rem;
    height: 4rem;
    box-sizing: border-box;
    font-family: "Roboto-l";
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0);
    border: none; }
    .form__input--textarea {
      min-height: 15rem;
      max-height: 30rem;
      min-width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      font-family: "Roboto-l";
      font-size: 1.6rem; }
    .form__input:focus {
      outline: none; }
    .form__input:focus + label, .form__input:not(:placeholder-shown) + label, .form__input:valid + label {
      transform: translate(-0.5rem, -150%) scale(0.8, 0.8);
      color: #a815d7;
      transition: all 0.3s; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.parallax-window {
  height: 35rem;
  background: rgba(0, 0, 0, 0);
  position: relative; }
  .parallax-window:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: -moz-linear-gradient(45deg, rgba(1, 255, 169, 0.4) 0%, rgba(168, 21, 215, 0.4) 100%);
    background: -webkit-linear-gradient(45deg, rgba(1, 255, 169, 0.4) 0%, rgba(168, 21, 215, 0.4) 100%);
    background: linear-gradient(45deg, rgba(1, 255, 169, 0.4) 0%, rgba(168, 21, 215, 0.4) 100%);
    /*background-color: $color-bg;
        opacity: .7;*/ }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.big-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: none; }
  .big-logo-container > img {
    display: block;
    width: 85%;
    margin: 0 auto;
    border: none; }

.marker-window h3 {
  margin: 0;
  font-weight: 300;
  color: #170f24;
  font-family: "Anja";
  font-size: 2.2rem; }

.marker-window span {
  font-weight: 300;
  font-size: 1rem;
  font-family: "Anja";
  color: #01ffa9; }

.marker-window > div {
  margin-top: .5rem;
  padding-top: .5rem;
  border-top: 1px solid #a815d7; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.slider {
  width: 100%; }
  .slider__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    max-height: 1080px;
    opacity: 1;
    transition: all 0.3s; }
    .slider__item--first {
      background-image: url("/Resources/Images/Backgrounds/slider-home-1.jpg"); }
    .slider__item--second {
      background-image: url("/Resources/Images/Backgrounds/slider-home-2.jpg"); }
    .slider__item--third {
      background-image: url("/Resources/Images/Backgrounds/slider-home-3.jpg"); }
    .slider__item:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
      z-index: 1;
      opacity: 1;
      transition: all 0.3s; }
    .slider__item:focus {
      outline: none; }
    .slider__item h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 5px;
      font-size: 4.5rem;
      opacity: 0;
      z-index: 2;
      font-weight: 300;
      font-family: "Prometo-l"; }
    .slider__item.slick-active h3 {
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: all 1s;
      transition-delay: .5s; }
  .slider .slick-list, .slider .slick-track {
    height: 100%; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

h1 {
  font-size: 4.5rem;
  font-weight: 300; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

p, span, a {
  font-size: 2rem;
  font-family: "Roboto-l"; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.nav {
  position: absolute;
  top: 5rem;
  left: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  overflow-x: hidden;
  padding: 0 15%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  transition: background-color .1s, box-shadow .1s; }
  @media only screen and (max-width: 1200px) {
    .nav {
      padding: 0 2rem; } }
  @media only screen and (max-width: 768px) {
    .nav {
      justify-content: space-between;
      transition: all 0.3s;
      padding: 0 2rem; } }
  .nav--fixed {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    transition: background-color .1s, box-shadow .1s; }
    .nav--fixed .nav__item span {
      color: #000;
      transition: all 0.3s; }
    .nav--fixed .nav__item:before {
      border-color: #000;
      height: calc(100% - 12px); }
    .nav--fixed .nav__logo > img.desktop {
      display: none; }
    .nav--fixed .nav__logo > img.mobile {
      display: block; }
  .nav__menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: auto;
    transition: all 0.3s; }
    .nav__menu > * {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-flex-basis: auto;
      -moz-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: auto;
      box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .nav__menu {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .nav__menu > * {
          width: 100%; }
          .nav__menu > *:not(:last-child) {
            margin-bottom: 1rem; } }
    @media only screen and (max-width: 980px) {
      .nav__menu {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        width: auto; }
        .nav__menu > * {
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
          -moz-flex-grow: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -webkit-flex-shrink: 0;
          -moz-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          -webkit-flex-basis: auto;
          -moz-flex-basis: auto;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
          width: auto;
          box-sizing: border-box; } }
  @media only screen and (max-width: 980px) and (max-width: 480px) {
    .nav__menu {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .nav__menu > * {
        width: 100%; }
        .nav__menu > *:not(:last-child) {
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 768px) {
      .nav__menu {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 30rem;
        flex: none;
        max-width: none;
        transform: translateX(100%);
        border-bottom: 2rem solid #fff; }
        .nav__menu > * {
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
          -moz-flex-grow: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -webkit-flex-shrink: 0;
          -moz-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          -webkit-flex-basis: 100%;
          -moz-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          width: 100%;
          box-sizing: border-box; } }
  @media only screen and (max-width: 768px) and (max-width: 480px) {
    .nav__menu {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .nav__menu > * {
        width: 100%; }
        .nav__menu > *:not(:last-child) {
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 480px) {
      .nav__menu {
        width: 100%; } }
    .nav__menu--open {
      transform: translateX(0);
      transition: all 0.3s; }
    .nav__menu > li {
      margin-left: 5rem; }
      @media only screen and (max-width: 1200px) {
        .nav__menu > li {
          margin-left: 3rem; } }
      @media only screen and (max-width: 768px) {
        .nav__menu > li {
          margin-left: auto; } }
  .nav__item {
    position: relative;
    display: block;
    text-align: right;
    text-decoration: none;
    line-height: 6rem;
    text-transform: uppercase;
    box-sizing: border-box;
    z-index: 9999;
    overflow-y: hidden; }
    .nav__item:first-child {
      margin-left: 0; }
    @media only screen and (max-width: 768px) {
      .nav__item {
        text-align: right;
        padding-right: 2rem;
        box-sizing: border-box; } }
    .nav__item:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: calc(100% - 8px);
      top: 0;
      left: 0;
      transform: translateX(-110%);
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.3s;
      border-bottom: 2px dashed #fff;
      z-index: -1; }
      @media only screen and (max-width: 768px) {
        .nav__item:before {
          top: 85%;
          left: 2rem;
          height: .1rem;
          width: calc(100% - 4rem); } }
    .nav__item > span {
      color: #fff;
      transition: all 0.3s;
      transition: all 0.3s;
      transition: all 0.3s; }
    .nav__item:hover, .nav__item.active {
      transition: all 0.3s; }
      .nav__item:hover:before, .nav__item.active:before {
        transform: translateX(0);
        transition: all 0.3s; }
        @media only screen and (max-width: 768px) {
          .nav__item:hover:before, .nav__item.active:before {
            height: .1rem; } }
  .nav__logo {
    display: block;
    height: auto;
    width: 20rem;
    text-decoration: none; }
    .nav__logo > img {
      width: auto; }
      .nav__logo > img.desktop {
        display: block;
        height: 6rem; }
      .nav__logo > img.mobile {
        display: none;
        height: 5rem; }
    @media only screen and (max-width: 768px) {
      .nav__logo {
        display: block; } }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.header .main-logo {
  display: block;
  height: 15rem;
  max-height: 768px;
  width: auto;
  max-width: 100%;
  margin: 0 auto; }

.header--landing {
  background-color: #170f24; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.footer {
  padding: 0 2rem;
  padding-top: 3rem;
  background-color: black; }
  .footer__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer__container {
        width: 100%; } }
  .footer__box {
    flex: 0 0 33%;
    max-width: 33%;
    width: 33%; }
    .footer__box--full-flex {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: .5rem 0; }
  .footer__text-item {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
    .footer__text-item:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-150%, -50%);
      display: none;
      width: 2rem;
      text-align: center;
      font-family: "FontAwesome";
      font-size: 1.8rem;
      text-align: center;
      color: #fff;
      content: ""; }
    .footer__text-item--right {
      text-align: right; }
    .footer__text-item--user:before {
      display: block;
      content: "\f007"; }
    .footer__text-item--ic:before {
      font-family: "Anja";
      display: block;
      content: "IC"; }
    .footer__text-item--mail:before {
      display: block;
      content: "\f0e0";
      font-size: 1.6rem; }
    .footer__text-item--phone:before {
      display: block;
      content: "\f10b";
      font-size: 2.2rem; }
  .footer__link {
    color: #01ffa9;
    font-size: 1.6rem;
    transition: all 0.3s; }
    .footer__link:hover {
      color: #00cd88;
      transition: all 0.3s; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo-l';
  src: url("/Resources/Fonts/Prometo/prometo-light.otf") format("opentype"); }

@font-face {
  font-family: 'Preometo-r';
  src: url("/Resources/Fonts/Prometo/preometo-regular.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-l';
  src: url("/Resources/Fonts/Roboto/roboto-lifgt.otf") format("opentype"); }

@font-face {
  font-family: 'Roboto-r';
  src: url("/Resources/Fonts/Roboto/roboto-regular.otf") format("opentype"); }

.section--contact {
  background-color: rgba(0, 0, 0, 0); }

.section__title {
  position: relative;
  text-align: center;
  margin: 0;
  margin-bottom: 4rem;
  font-family: "Prometo-l";
  font-size: 4.5rem;
  color: #000;
  font-weight: 300;
  text-transform: uppercase; }
  .section__title:after {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    width: 12rem;
    display: block;
    height: .1rem;
    transform: translateX(-50%);
    border-bottom: 0.3rem dashed #01ffa9;
    content: ""; }
  .section__title--secondary {
    color: #fff; }
  .section__title--left {
    text-align: left; }
    .section__title--left:after {
      left: 0;
      transform: translateX(0); }
  .section__title--right {
    text-align: right; }
    .section__title--right:after {
      left: auto;
      transform: translateX(0);
      right: 0; }

.section__subtitle {
  text-align: center;
  margin: 0;
  margin-bottom: 2.5rem;
  font-family: "Prometo-l";
  font-size: 3rem;
  color: #000;
  text-transform: uppercase; }
  .section__subtitle--secondary {
    color: #fff; }
  .section__subtitle--left {
    text-align: left; }
  .section__subtitle--right {
    text-align: right; }

.section__desc {
  margin: 0;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 4.5rem; }
  .section__desc--secondary {
    color: #fff; }
  .section__desc--left {
    text-align: left; }
  .section__desc--right {
    text-align: right; }
  .section__desc--mo-margin {
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */