@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/../../fonts/slick/slick.eot");
  src: url("./fonts/../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/../../fonts/slick/slick.woff") format("woff"), url("./fonts/../../fonts/slick/slick.ttf") format("truetype"), url("./fonts/../../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 2rem; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 2rem; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box !important; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin: 0;
  overflow-x: hidden !important;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.element-to-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-strong {
  font-weight: bold; }

.text-to-center {
  text-align: center !important; }

.text-to-left {
  text-align: left !important; }

.text-to-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.nav-item-center {
  white-space: nowrap; }
  @media only screen and (min-width: 769px) {
    .nav-item-center {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.nav-item-right {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%); }
  @media only screen and (max-width: 768px) {
    .nav-item-right {
      position: relative;
      top: unset;
      right: unset;
      transform: translate(0, 0);
      margin-bottom: 2rem; } }

.nav-item-left {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%); }
  @media only screen and (max-width: 768px) {
    .nav-item-left {
      position: relative;
      top: unset;
      right: unset;
      transform: translate(0, 0);
      margin-bottom: 2rem; } }

.clean-button {
  padding: 0;
  margin: 0;
  height: auto;
  display: inline-block !important;
  float: none !important; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.burger-button {
  position: relative;
  width: 3.5rem;
  height: 3rem;
  border: 0.1rem solid #000;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 768px) {
    .burger-button {
      display: block; } }
  .burger-button > div {
    background-color: #000;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: .2rem;
    border-radius: .1rem; }
  .burger-button:before, .burger-button:after {
    display: block;
    position: absolute;
    width: 80%;
    left: 50%;
    background-color: #000;
    content: "";
    transition: all 0.3s;
    height: .2rem;
    border-radius: .1rem; }
  .burger-button:before {
    top: .3rem;
    transform: translate(-50%, 150%) rotate(0); }
  .burger-button:after {
    bottom: .3rem;
    transform: translate(-50%, -150%) rotate(0); }
  .burger-button--open:before {
    width: 50%;
    transform: translate(-20%, 325%) rotate(25deg); }
  .burger-button--open:after {
    width: 50%;
    transform: translate(-20%, -325%) rotate(-25deg); }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.references-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }

.anim-box {
  position: relative;
  display: block;
  flex: 0 0 32%;
  max-width: 32%;
  width: 32%;
  min-height: 32rem;
  max-height: 36rem;
  padding: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  /*&.animated {
        transition: all .5s;
    }

    &--left {
        transform: translateX(-100vw);

        &.animated {
            transform: translateX(0);
            transition-duration: 1.8s;
        }
    }

    &--center {
        transform: translateX(-100vw);

        &.animated {
            transform: translateX(0);
            transition-duration: 1.3s;
        }
    }

    &--right {
        transform: translateX(-100vw);

        &.animated {
            transform: translateX(0);
            transition-duration: .5s;
        }
    }*/ }
  @media only screen and (max-width: 768px) {
    .anim-box {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 2rem; }
      .anim-box:last-child {
        margin-bottom: 0; } }
  .anim-box:hover .anim-box__inner-box {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
    transition: all 0.3s; }
  .anim-box:hover .anim-box__overlay {
    opacity: 1;
    transition: all 0.3s; }
  .anim-box:hover:after {
    opacity: 1;
    transition: all 0.3s; }
  .anim-box:hover h3 {
    transform: translate(-50%, -200%);
    transition: all 0.3s; }
  .anim-box__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
    background: linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
    transition: all 0.3s;
    z-index: 2;
    opacity: 0; }
  .anim-box:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("/Resources/Images/Backgrounds/test-box-bg.JPG");
    background-position: center;
    background-size: cover;
    content: "";
    z-index: 1;
    opacity: .7;
    transition: all 0.3s; }
  .anim-box h3 {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2rem;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    color: #fff;
    transition: all 0.3s;
    z-index: 3; }
  .anim-box__inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 87%;
    height: 85%;
    border: 0.1rem solid #a815d7;
    border-color: #fff;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    z-index: 3; }
    .anim-box__inner-box p {
      padding: 0 2rem;
      box-sizing: border-box;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      font-size: 1.6rem; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.button {
  display: block;
  width: 22rem;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: #01ffa9;
  border: 0.1rem solid #a815d7;
  border-color: #000;
  border-radius: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  transition: all 0.3s; }
  .button:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s; }
  .button:hover {
    text-decoration: none;
    transition: all 0.3s; }
  .button--submit {
    width: 100%;
    max-width: 60rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .button__text {
    position: relative;
    border-color: #000;
    font-size: 1.8rem;
    font-size: 1.8rem;
    text-transform: uppercase; }
    .button__text:after {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(50%, -50%);
      color: #000;
      font-family: "FontAwesome";
      font-size: 1.8rem;
      content: "\f1d8"; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (max-width: 768px) {
    .flex-container {
      align-items: flex-start;
      flex-direction: row-reverse; } }
  .flex-container__box {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .flex-container__box {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 30rem; } }
    .flex-container__box--with-padding {
      padding: 5rem 2rem;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .flex-container__box--with-padding {
          padding: 3rem 2rem;
          height: auto; } }
    .flex-container__box .i4ewOd-pzNkMb-haAclf {
      display: none !important; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.container {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10rem 0; }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 7rem 2rem; } }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.form {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .form {
      width: 40rem; } }
  @media only screen and (max-width: 480px) {
    .form {
      width: 100%; } }
  .form__wrapper {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 2.5rem;
    border-bottom: 0.1rem solid #000;
    transition: all 0.3s; }
    .form__wrapper:last-child {
      margin-bottom: 0; }
    .form__wrapper:before {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 0;
      height: .2rem;
      transform: translateY(-50%);
      content: "";
      background-color: #a815d7;
      transition: all 0.3s; }
    .form__wrapper:focus-within {
      border-bottom: 0.1rem solid #a815d7;
      transition: all 0.3s; }
      .form__wrapper:focus-within:before {
        width: 100%;
        transition: all 0.3s; }
  .form__label {
    position: absolute;
    top: 1.2rem;
    left: 0;
    display: block;
    width: 10rem;
    transform: translate(1rem, 0) scale(1, 1);
    font-size: 1.6rem;
    color: #999;
    transition: all 0.3s;
    z-index: -1; }
  .form__input {
    width: 100%;
    padding: .5rem;
    height: 4rem;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0);
    border: none; }
    .form__input--textarea {
      min-height: 15rem;
      max-height: 30rem;
      min-width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem; }
    .form__input:focus {
      outline: none; }
    .form__input:focus + label, .form__input:not(:placeholder-shown) + label, .form__input:valid + label {
      transform: translate(-0.5rem, -150%) scale(0.8, 0.8);
      color: #a815d7;
      transition: all 0.3s; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.parallax-window {
  height: 35rem;
  background: rgba(0, 0, 0, 0); }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.slider {
  width: 100%; }
  .slider:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(1, 255, 169, 0.4) 0%, rgba(168, 21, 215, 0.4) 100%);
    background: -webkit-linear-gradient(45deg, rgba(1, 255, 169, 0.4) 0%, rgba(168, 21, 215, 0.4) 100%);
    background: linear-gradient(45deg, rgba(1, 255, 169, 0.4) 0%, rgba(168, 21, 215, 0.4) 100%);
    z-index: 1; }
  .slider__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: calc(50vh - 5rem);
    opacity: .9; }
    .slider__item--first {
      background-image: url("/Resources/Images/Backgrounds/slider-home-1.jpg"); }
    .slider__item--second {
      background-image: url("/Resources/Images/Backgrounds/slider-home-2.jpg"); }
    .slider__item--third {
      background-image: url("/Resources/Images/Backgrounds/slider-home-3.jpg"); }
    .slider__item:focus {
      outline: none; }
    .slider__item h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
      text-transform: uppercase;
      color: #fff;
      font-size: 3rem;
      opacity: 0;
      font-family: "Open Sans", sans-serif; }
    .slider__item.slick-active h3 {
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: all 1s;
      transition-delay: .5s;
      letter-spacing: 5px;
      font-weight: 300; }
  .slider .slick-list, .slider .slick-track {
    height: 100%; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

h1 {
  font-size: 3rem;
  font-weight: 300; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

p, span, a {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 5rem;
  overflow-x: hidden;
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0); }
  @media only screen and (max-width: 768px) {
    .nav {
      justify-content: space-between;
      transition: all 0.3s; } }
  .nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s; }
  .nav__menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    flex: 0 0 80%;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    transition: all 0.3s; }
    .nav__menu > * {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-flex-basis: 18rem;
      -moz-flex-basis: 18rem;
      -ms-flex-preferred-size: 18rem;
      flex-basis: 18rem;
      width: 18rem;
      box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .nav__menu {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .nav__menu > * {
          width: 100%; }
          .nav__menu > *:not(:last-child) {
            margin-bottom: 1rem; } }
    @media only screen and (max-width: 980px) {
      .nav__menu {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center; }
        .nav__menu > * {
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
          -moz-flex-grow: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -webkit-flex-shrink: 0;
          -moz-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          -webkit-flex-basis: 12rem;
          -moz-flex-basis: 12rem;
          -ms-flex-preferred-size: 12rem;
          flex-basis: 12rem;
          width: 12rem;
          box-sizing: border-box; } }
  @media only screen and (max-width: 980px) and (max-width: 480px) {
    .nav__menu {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .nav__menu > * {
        width: 100%; }
        .nav__menu > *:not(:last-child) {
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 768px) {
      .nav__menu {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 30rem;
        flex: none;
        max-width: none;
        transform: translateX(100%);
        border-bottom: 2rem solid #fff; }
        .nav__menu > * {
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
          -moz-flex-grow: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -webkit-flex-shrink: 0;
          -moz-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          -webkit-flex-basis: 100%;
          -moz-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          width: 100%;
          box-sizing: border-box; } }
  @media only screen and (max-width: 768px) and (max-width: 480px) {
    .nav__menu {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .nav__menu > * {
        width: 100%; }
        .nav__menu > *:not(:last-child) {
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 480px) {
      .nav__menu {
        width: 100%; } }
    .nav__menu--open {
      transform: translateX(0);
      transition: all 0.3s; }
  .nav__item {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    z-index: 9999; }
    @media only screen and (max-width: 768px) {
      .nav__item {
        text-align: right;
        padding-right: 2rem;
        box-sizing: border-box; } }
    .nav__item:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background-color: #170f24;
      transition: all 0.3s;
      z-index: -1; }
      @media only screen and (max-width: 768px) {
        .nav__item:before {
          top: 85%;
          left: 2rem;
          height: .1rem;
          width: calc(100% - 4rem); } }
    .nav__item > span {
      color: #000;
      transition: all 0.3s;
      transition: all 0.3s; }
    .nav__item:hover, .nav__item.active {
      transition: all 0.3s;
      transition-delay: .35s; }
      .nav__item:hover > span, .nav__item.active > span {
        color: #fff;
        transition: all 0.3s; }
        @media only screen and (max-width: 768px) {
          .nav__item:hover > span, .nav__item.active > span {
            color: #000; } }
      .nav__item:hover:before, .nav__item.active:before {
        height: 100%;
        transition: all 0.3s; }
        @media only screen and (max-width: 768px) {
          .nav__item:hover:before, .nav__item.active:before {
            height: .1rem; } }
  .nav__mobile-logo {
    display: none;
    height: auto;
    width: 20rem;
    text-decoration: none; }
    .nav__mobile-logo > img {
      height: 90%;
      display: block;
      width: auto; }
    @media only screen and (max-width: 768px) {
      .nav__mobile-logo {
        display: block; } }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.header .main-logo {
  display: block;
  height: 50vh;
  max-height: 768px;
  width: auto;
  max-width: 100%;
  margin: 0 auto; }

.header--landing {
  background-color: #170f24; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.footer {
  padding: 0 2rem;
  padding-top: 3rem;
  background-color: black; }
  .footer__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer__container {
        width: 100%; } }
  .footer__box {
    flex: 0 0 33%;
    max-width: 33%;
    width: 33%; }
    .footer__box--full-flex {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: .5rem 0; }
  .footer__text-item {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
    .footer__text-item:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-150%, -50%);
      display: none;
      width: 2rem;
      text-align: center;
      font-family: "FontAwesome";
      font-size: 1.8rem;
      text-align: center;
      color: #fff;
      content: ""; }
    .footer__text-item--right {
      text-align: right; }
    .footer__text-item--user:before {
      display: block;
      content: "\f007"; }
    .footer__text-item--ic:before {
      font-family: "Anja";
      display: block;
      content: "IC"; }
    .footer__text-item--mail:before {
      display: block;
      content: "\f0e0";
      font-size: 1.6rem; }
    .footer__text-item--phone:before {
      display: block;
      content: "\f10b";
      font-size: 2.2rem; }
  .footer__link {
    color: #01ffa9;
    font-size: 1.6rem;
    transition: all 0.3s; }
    .footer__link:hover {
      color: #00cd88;
      transition: all 0.3s; }

@font-face {
  font-family: 'Anja';
  src: url("/Resources/Fonts/Anja/Anja.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/Resources/Fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/Fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Prometo';
  src: url("/Resources//Fonts/Prometo/prometo.otf") format("opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'fontawesome';
  src: url("/Resources/fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("/Resources/fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"); }

.section {
  background-color: #fff; }
  .section--references {
    background-color: #000; }
  .section--contact {
    background-color: rgba(0, 0, 0, 0); }
  .section__title {
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
    font-family: "Prometo";
    font-size: 3rem;
    color: #000;
    font-weight: 300;
    text-transform: uppercase; }
    .section__title--secondary {
      color: #fff; }
  .section__desc {
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300; }

/*# sourceMappingURL=style.css.map */