@import "../Base/global";

.anim-box {
    position: relative;
    display: block;
    width: 100%;
    max-width: 45rem;
    min-height: 32rem;
    max-height: 36rem;
    box-sizing: border-box;
    padding: 2rem;
    margin: 0 auto;
    background-position: center;
    color: $color-white;
    text-decoration: none;
    overflow: hidden;
    background-size: cover;

    @include res-max-tablet {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        min-height: 25rem;
        max-height: 32rem;
    }

    &--print {
        background-image: url('/Resources/Images/Backgrounds/print_bg.jpg');
    }

    &--expo {
        background-image: url('/Resources/Images/Backgrounds/exposition_bg.jpg');
    }

    &--stick {
        background-image: url('/Resources/Images/Backgrounds/stick_bg.jpg');
    }


    > img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

    &:focus {
        outline: none;
    }

    &:hover {

        .anim-box__inner-box {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1, 1);
            transition: $animate-all;
        }

        &:before {
            opacity: 0;
            transition: $animate-all;
        }

        &:after {
            opacity: 1;
            transition: $animate-all;
        }

        .anim-box__view-ico {
            opacity: 0;
            transition: $animate-all;
        }
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 110%;
        height: 110%;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.45) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.45) 0%, rgba(0,0,0,1) 100%);
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.45) 0%, rgba(0,0,0,1) 100%);
        opacity: 1;
        transition: $animate-all;
        z-index: 1;

        @include res-max-tablet {
            opacity: 0;
            transition: $animate-all;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 110%;
        height: 110%;
        background: -moz-linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
        background: -webkit-linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
        background: linear-gradient(45deg, rgba(1, 255, 169, 0.6) 0%, rgba(168, 21, 215, 0.6) 100%);
        opacity: 0;
        transition: $animate-all;
        z-index: 2;

        @include res-max-tablet {
            opacity: 1;
            transition: $animate-all;
        }
    }

    &__inner-box {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        width: 87%;
        height: 85%;
        opacity: 0;
        border: $base-border;
        border-color: $color-white;
        transform: translate(-50%, -50%) scale(0, 0);
        transition: $animate-all;
        z-index: 3;

        @include res-max-tablet {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1, 1);
            transition: $animate-all;
        }

        > div {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
        }

        h3 {
            box-sizing: border-box;
            padding: 0 2rem;
            margin: 0;
            margin-bottom: .5rem;
            font-size: $font-size-xxl;
            font-weight: 300;
            color: $color-white;
            text-align: center;
            text-transform: uppercase;

            @include res-max-desktop-HD {
                font-size: 3rem;
            }
        }

        p {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            padding: 0 2rem;
            font-size: $font-size-m;
            font-weight: 300;
            color: $color-white;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__view-ico {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        opacity: .15;
        transition: $animate-all;
        z-index: 2;

        @include res-max-tablet {
            opacity: 0;
            transition: $animate-all;
        }

        > img {
            width: 100%;
        }
    }
}
