@import "../Base/global";

.burger-button {
    position: relative;
    display: none;
    width: 4rem;
    height: 3rem;
    background-color: $color-transparent;
    cursor: pointer;

    @include res-max-tablet {
        display: block;
    }

    > div {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: .3rem;
        background-color: $color-black;
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: .25s ease-in-out;
    }

    &:before, &:after {
        position: absolute;
        left: 50%;
        display: block;
        content: "";
        width: 100%;
        height: .3rem;
        background-color: $color-black;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    &:before {
        top: 0;
        transform: translate(-50%, 0) rotate(0);
    }

    &:after {
        bottom: 0;
        transform: translate(-50%, 0) rotate(0);
    }

    &--open {

        div {
            opacity: 0;
            transform: translate(200%, -50%);
        }

        &:before {
            top: 50%;
            transform: translate(-50%, -.1rem) rotate(45deg);
        }

        &:after {
            bottom: 50%;
            transform: translate(-50%, .1rem) rotate(-45deg);
        }
    }
}


.burger-container {
    position: relative;
    display: none;
    width: 5rem;
    height: 4rem;
    float: right;
    transition: $animate-all;
    cursor: pointer;

    @include res-max-tablet {
        display: block;
    }

    .nav-burger {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 3.5rem;
        height: 2.5rem;
        transform: rotate(0deg) translate(-50%, -50%);
        transition: .5s ease-in-out;
        transition: $animate-all;
        cursor: pointer;

        > span {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: .3rem;
            background: $color-bg;
            opacity: 1;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: rotate(0deg) translateY(-50%);
            }

            &:nth-child(3) {
                top: 100%;
                transform: rotate(0deg) translateY(-100%);
            }
        }

        &.open {
            transition: $animate-all;

            > span {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(135deg) translateY(0);
                }

                &:nth-child(2) {
                    left: 100%;
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: rotate(-135deg) translateY(0);
                }
            }
        }
    }
}
