@import "../Base/global";

.button {
    display: block;
    width: 22rem;
    margin: 0 auto;
    height: 6rem;
    text-decoration: none;
    color: $color-white;
    padding: $btn-padding;
    font-size: $font-size-l;
    font-family: $font-prometo-r;
    font-weight: 500;
    background-color: $color-button;
    border: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 0px $color-transparent;
    -moz-box-shadow: 0px 0px 7px 0px $color-transparent;
    box-shadow: 0px 0px 7px 0px $color-transparent;

    @include res-max-tablet {
        padding: 1rem;
        font-size: $font-size-m;
    }

    &:focus {
        outline: none;
        -webkit-box-shadow: 0px 0px 7px 0px $color-primary;
        -moz-box-shadow: 0px 0px 7px 0px $color-primary;
        box-shadow: 0px 0px 7px 0px $color-primary;
        transition: $animate-all;
    }

    &:hover {
        cursor: pointer;
        text-decoration: none;
        transition: $animate-all;
        -webkit-box-shadow: 0px 0px 7px 0px $color-secondary;
        -moz-box-shadow: 0px 0px 7px 0px $color-secondary;
        box-shadow: 0px 0px 7px 0px $color-secondary;

        span, span:after {
            color: $color-secondary;
            transition: $animate-all;
        }
    }

    &--secondary {
    }

    &--submit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        position: relative;
        border-color: $color-white;
        font-size: $font-size-l;
        text-transform: uppercase;
        letter-spacing: .2rem;
        transition: $animate-all;

        &:after {
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(50%, -50%);
            color: $color-white;
            font-family: $font-awesome;
            font-size: $font-size-l;
            content: "\f1d8";
            transition: $animate-all;
        }
    }
}

.switch {
    opacity: 0;
}
