@import "../Base/global";

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    @include res-max-tablet {
        align-items: flex-start;
    }

    &--small-reverse {

        @include res-max-desktop-small {
            flex-direction: column-reverse;
        }

        .flex-container__box {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }

    &--mobile-reverse {

        @include res-max-tablet {
            flex-direction: column-reverse;
        }
    }

    &--center {
        height: 100%;
        align-items: center;
    }

    &__box {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        overflow: hidden;

        @include res-max-tablet {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }

        &--with-padding {
            padding: 5rem 2rem;
            box-sizing: border-box;

            @include res-max-tablet {
                padding: 3rem 2rem;
                height: auto;
            }

            @include res-max-mobile {
                padding: 1.5rem 2rem;
                height: auto;
            }
        }
    }

    #ConfMap {
        @include res-max-desktop-small {
            height: 30rem;
        }
    }
}
