@import "../Base/global";

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    @include res-max-tablet {
        width: 40rem;
    }

    @include res-max-mobile {
        width: 100%;
    }

    &__wrapper {
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 3rem;
        @include border('bottom', $outline-width, solid, $color-black);
        transition: $animate-all;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            position: absolute;
            top: 100%;
            left: 0;
            display: block;
            width: 0;
            height: .2rem;
            transform: translateY(-50%);
            content: "";
            background-color: $color-primary;
            transition: $animate-all;
        }

        &:focus-within {
            @include border('bottom', $outline-width, solid, $color-primary);
            transition: $animate-all;

            &:before {
                width: 100%;
                transition: $animate-all;
            }
        }
    }

    &__label {
        position: absolute;
        top: 1.2rem;
        left: 0;
        display: block;
        width: 10rem;
        transform: translate(1rem, 0) scale(1, 1);
        font-size: $font-size-s;
        color: $color-placeholder;
        transition: $animate-all;
        z-index: -1;
    }

    &__input {
        width: 100%;
        padding: .5rem;
        height: 4rem;
        box-sizing: border-box;
        font-family: $font-text;
        font-size: $font-size-s;
        background-color: $color-transparent;
        border: none;

        &--textarea {
            min-height: 15rem;
            max-height: 30rem;
            min-width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            font-family: $font-text;
            font-size: $font-size-s;
        }

        &:focus {
            outline: none;
        }

        &:focus + label, &:not(:placeholder-shown) + label, &:valid + label {
            transform: translate(-.5rem, -150%) scale(.8, .8);
            color: $color-primary;
            transition: $animate-all;
        }
    }
}