@import "../Base/global";

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;


    @include res-max-mobile {
        box-sizing: border-box;
        padding: 0 1rem;
    }

    &__box {
        flex: 0 0 20%;
        width: 20%;
        max-width: 20%;
        height: 32rem;

        @include res-max-desktop-large {
            flex: 0 0 25%;
            width: 25%;
            max-width: 25%;
        }

        @include res-max-desktop-small {
            flex: 0 0 calc(100/3);
            width: calc(100/3);
            max-width: calc(100/3);
            height: 28rem;
        }

        @include res-max-tablet {
            flex: 0 0 50%;
            width: 50%;
            max-width: 50%;
            height: 26rem;
        }

        @include res-max-mobile {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        > .anim-box {
            width: 100%;
            min-width: 5rem;
            max-width: none;
            height: 100%;
        }
    }
}
