@import "../Base/global";

h1 {
    font-size: $font-size-xxl;
    font-weight: 300;
}

h2 {
    font-size: $font-size-xl;
}

h3 {
    font-size: $font-size-l;
}

p, span, a {
    font-size: $font-size-l;
    font-family: $font-text;
    
}

h1.main-title{
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: translateY(-2000px);
}