@import "../Base/global";

.section {
    background-color: $color-white;

    &--slider {
    }

    &--about {
    }

    &--references {
        /*background-color: $color-bg;*/
    }

    &--contact {
        background-color: $color-transparent;
    }

    &__title {
        text-align: center;
        margin: 0;
        margin-bottom: 3rem;
        font-family: $font-title;
        font-size: $font-size-xxl;
        color: $color-font;
        font-weight: 300;
        text-transform: uppercase;

        &--secondary {
            color: $color-white;
        }
    }

    &__desc {
        margin: 0;
        margin-bottom: 3rem;
        text-align: center;
        font-size: $font-size-m;
        line-height: $font-size-xxl;
        font-weight: 300;

        &--secondary {
        }
    }
}