@import "../Base/global";

.section {
    overflow: hidden;

    &--reference-detail {
        background-color: $color-bg;

        @include res-max-tablet {
            margin-top: 6rem;
        }
    }

    &--hidden {
        display: none;
    }

    &--partners {
        .container {
            padding-top: 0;
        }
    }

    &--contact {
        background-color: $color-transparent;
    }

    &__title {
        position: relative;
        text-align: center;
        margin: 0;
        margin-bottom: 4rem;
        font-family: $font-title;
        font-size: $font-size-xxl;
        color: $color-font;
        font-weight: 300;
        text-transform: uppercase;

        @include res-max-tablet {
            font-size: 3rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        &:after {
            position: absolute;
            bottom: -2rem;
            left: 50%;
            width: 12rem;
            display: block;
            height: .1rem;
            transform: translateX(-50%);
            border-bottom: .3rem dashed $color-secondary;
            content: "";

            @include res-max-tablet {
                bottom: -.7rem;
                border-width: .2rem;
            }
        }

        &--secondary {
            color: $color-white;
        }

        &--no-margin {
            margin-bottom: 0;
        }

        &--left {
            text-align: left;

            @include res-max-desktop-large {
                text-align: center;
            }

            &:after {
                left: 0;
                transform: translateX(0);

                @include res-max-desktop-large {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &--right {
            text-align: right;

            @include res-max-tablet {
                text-align: center;
            }

            &:after {
                left: auto;
                transform: translateX(0);
                right: 0;

                @include res-max-tablet {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    &__subtitle {
        text-align: center;
        margin: 0;
        margin-bottom: 2.5rem;
        font-family: $font-title;
        font-size: 3rem;
        color: $color-font;
        text-transform: uppercase;

        @include res-max-tablet {
            font-size: $font-size-xl;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        @include res-max-mobile {
            display: none
        }

        &--secondary {
            color: $color-white;
        }

        &--left {
            text-align: left;

            @include res-max-tablet {
                text-align: center;
            }
        }

        &--right {
            text-align: right;

            @include res-max-tablet {
                text-align: center;
            }
        }
    }


    &__desc {
        margin: 0;
        margin-bottom: 3rem;
        text-align: center;
        font-size: $font-size-l;
        font-weight: 300;
        line-height: $font-size-xxl;

        @include res-max-tablet {
            text-align: center;
            font-size: $font-size-m;
            margin-bottom: 1.5rem;
            line-height: $font-size-xl;
        }

        b, strong {
            color: $color-strong;
        }

        &--secondary {
            color: $color-white;

            b, strong {
                color: $color-secondary;
            }
        }


        &--left {
            text-align: left;

            @include res-max-desktop-large {
                text-align: center;
            }
        }

        &--right {
            text-align: right;

            @include res-max-tablet {
                text-align: center;
            }
        }

        &--no-margin {
            margin-bottom: 0;
        }
    }
}

.success-email {
    text-align: center;

    .success {
        margin-bottom: 2rem;
        font-size: $font-size-l;
    }

    .button {
        display: inline-block;
    }
}