/* Typography Overrides */
h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
.btn {
  font-family: var(--font-display);
}

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }

  :root {
    --focus-ring: 0 0 0 0.2rem var(--color-outline);
    --font-sans: "Open Sans", sans-serif;
    --font-display: "Inter", sans-serif;
  }

  :where(a, button, input, textarea, select):focus-visible {
    outline: none;
    box-shadow: var(--focus-ring);
  }
}
