// To get all mixins in other *.scss file use: @import "/Base/global";

@import "Mixins/grid-flex";
@import "Mixins/responsive";

@mixin set-outline() {
    border-color: $color-outline !important;
    box-shadow: 0 0 0 $outline-width $color-outline;
    outline: none;
}

@mixin set-error-outline() {
    border-color: $color-error !important;
    box-shadow: 0 0 0 $outline-width $color-error !important;
    outline: none;
}

@mixin border($direction, $width, $style, $color) {
    border-#{$direction}: $width $style $color;
}
