@import "../Base/global";

header {
    .main-logo {
        display: block;
        height: 50vh;
        max-height: 768px;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }
}
