@import "../Base/global";

.nav {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 0 15%;
    box-sizing: border-box;
    background-color: $color-transparent;
    -webkit-box-shadow: 0px 0px 5px 0px $color-transparent;
    -moz-box-shadow: 0px 0px 5px 0px $color-transparent;
    box-shadow: 0px 0px 5px 0px $color-transparent;
    transition: background-color 0, box-shadow .3s;

    @include res-max-desktop-large {
        padding: 0 2rem;
    }

    @include res-max-tablet {
        justify-content: space-between;
        transition: $animate-all;
        padding: 0 2rem;
    }

    &--fixed {
        position: fixed;
        top: 0;
        -webkit-box-shadow: 0px 0px 5px 0px $color-box-shadow;
        -moz-box-shadow: 0px 0px 5px 0px $color-box-shadow;
        box-shadow: 0px 0px 5px 0px $color-box-shadow;
        background-color: $color-white;
        transition: background-color .1s, box-shadow .1s;

        .lang-switcher {
            color: $color-font;

            a {
                color: $color-font;
            }
        }

        .nav__item {
            span {
                color: $color-font;
                transition: $animate-all;
            }

            &:before {
                border-color: $color-black;
                height: calc(100% - 12px);
            }
        }

        .nav__logo > img {
            transition: $animate-all;
            opacity: 0;

            &:nth-child(2) {
                opacity: 1;
            }
        }
    }

    &__menu {
        @include flex-wrapper-row(0, 0, auto, center, center);
        width: auto;
        transition: $animate-all;

        @include res-max-desktop-small {
            @include flex-wrapper-row(0, 0, auto, center, center);
            width: auto;
        }

        @include res-max-tablet {
            @include flex-wrapper-row(0, 0, 100%, flex-start, flex-start);
            position: absolute;
            top: 6rem;
            right: 0;
            width: 30rem;
            flex: none;
            max-width: none;
            transform: translateX(100%);
            border-bottom: 2rem solid $color-white;
            border-left: 1px solid $color-box-shadow;
        }

        @include res-max-mobile {
            width: 100%;
            border-left: none;
        }

        &:after {
            position: absolute;
            top: 99%;
            height: 100vh;
            background-color: $color-white;
            display: block;
            width: 100%;
            left: 0;
            content: "";
            display: none;
            border-left: 1px solid $color-box-shadow;

            @include res-max-tablet {
                display: block;
            }

            @include res-max-mobile {
                border-left: none;
            }
        }

        &--open {
            transform: translateX(0);
            transition: $animate-all;
        }

        > li {
            margin-left: 5rem;

            @include res-max-desktop-large {
                margin-left: 3rem;
            }

            @include res-max-tablet {
                margin-left: auto;
                background-color: $color-white;
            }

            @include res-max-mobile {
                margin-bottom: 0 !important;
                align-self: flex-start;
            }
        }
    }

    &__item {
        position: relative;
        display: block;
        text-align: right;
        text-decoration: none;
        line-height: 6rem;
        text-transform: uppercase;
        box-sizing: border-box;
        z-index: 9999;
        overflow-y: hidden;

        &:first-child {
            margin-left: 0;
        }

        @include res-max-tablet {
            text-align: right;
            padding-right: 2rem;
            box-sizing: border-box;
        }

        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: calc(100% - 8px);
            top: 0;
            left: 0;
            transform: translateX(-110%);
            background-color: $color-transparent;
            transition: $animate-all;
            border-bottom: 2px dashed $color-white;
            z-index: -1;

            @include res-max-tablet {
                top: 85%;
                left: 2rem;
                height: .1rem !important;
                width: calc(100% - 4rem);
                border-bottom: 2px solid $color-black;
                transform: translateX(0);
            }
        }

        > span {
            color: $color-white;
            transition: $animate-all;
        }

        &:hover, &--active {
            transition: $animate-all;

            &:before {
                transform: translateX(0);
                transition: $animate-all;

                @include res-max-tablet {
                    height: .1rem !important;
                }
            }
        }

        &--active:before {
            @include res-max-tablet {
                border-color: $color-primary !important;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    &__logo {
        display: block;
        height: auto;
        width: 14rem;
        text-decoration: none;
        position: relative;

        > img {
            display: block;
            width: 100%;
            transition: $animate-all;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;

            &:nth-child(2) {
                opacity: 0;
            }
        }



        @include res-max-tablet {
            display: block;
        }
    }
}

.lang-switcher {
    color: $color-white;
    font-weight: 500;
    font-size: $font-size-m;

    @include res-max-tablet {
        text-align: right;
        padding-right: 2rem;
        color: $color-black;
    }

    a {
        text-decoration: none;
        color: $color-white;

        @include res-max-tablet {
            color: $color-black;
        }

        &.active {
            color: $color-secondary;

            @include res-max-tablet {
                color: $color-primary;
            }
        }

        &:hover {
            color: $color-secondary-hover;
            transition: $animate-all;
        }
    }
}
